# App
APP_NAME=cart-service
APP_VERSION=v1.0.0

# Logger
LOGGER_LEVEL=debug
LOGGER_PRETTY_CONSOLE=true

# HTTP
HTTP_PORT=8082

# Postgres
POSTGRES_USER=login
POSTGRES_PASSWORD=pass
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_DB_NAME=postgres