# App
APP_NAME=cart-service
APP_VERSION=test

# Logger
LOGGER_LEVEL=debug
LOGGER_PRETTY_CONSOLE=true

# HTTP
HTTP_PORT=8083

# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_DB_NAME=postgres

# Migrate
MIGRATE_PATH = file://../../migration/postgres
DB_MIGRATE_URL=postgres://user:pass@localhost:5432/postgres?sslmode=disable
